$color-grey-light-1: #dfe6e9;
$color-grey-light-2: #666;
$color-logo: #dd1818;
$color-primary: #c0392b;
$color-black:#190A05;
$color-white: #fff;






//GRID
$grid-width: 140rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;



