html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 70%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: $color-grey-light-1;
  padding: 3rem;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;

  @include respond(tab-port) {
    padding: 0;
  }
}
